{% load i18n %}
<div class="entry-list">
	<p class="projects title"><a href="{{ project.get_absolute_url }}">{% if project.enabled %}{{ project.name }}{%else%}<del title='{% trans "Disabled." %}'>{{ project.name }}</del>{%endif%}</a></p>
	<div class="description">{%if project.description %}{{project.description}}{% endif %}</div>
	{% with project.releases.all as releases %}
		{% if releases %}
			<div class="project-releases">
			{% for release in releases %}
				<a class="icon release" href="{{ release.get_absolute_url }}">{% if release.enabled %}{{ release.name }}{% else %}<del title='{% trans "Disabled."%}'>{{ release.name }}</del>{% endif %} </a>&nbsp;
			{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
</div>
