*.pyc
settings_test.py
settings_local.py
*.sqlite
local.pyconf
settings/60-local.pyconf
.settings/**
logs
openid
pagination
pytz
pygments
recaptcha
build_logs
/media/
/appcache/
/django/
.pydevproject