{% extends "base.html" %}
{% load i18n formtags %}
{% block favs %}
{% endblock %}
{% block title %}{{ block.super}} | {% trans 'Password reset confirm' %}{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="/site_media/js/simpletooltip.js"></script>
<script type="text/javascript" src="/site_media/js/errors.js"></script>
<link media="screen" href="/site_media/css/widgets/simpletooltip.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
{% if validlink %}
<form id="password_reset_form" class="form-style center-box" action="" method="post" accept-charset="utf-8">
{% csrf_token %}
	<fieldset>
		<legend>{% trans "Enter new password" %}</legend>
		<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
		<ol>
			<li>{% formfield form.new_password1 %}</li>
			<li>{% formfield form.new_password2 %}</li>
		</ol>    
	</fieldset>
	<div id="form-action" class="text-right">
		<input class="icon signup" type="submit" value="{% trans "Change my password" %}" />
	</div>
</form>
<script type="text/javascript"><!--
	document.getElementById("id_email").focus();
-->
</script>
{% else %}
<h1>{% trans 'Password reset unsuccessful' %}</h1>
<p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
{% endif %}

{% endblock %}
