{% load i18n timezone_filters %}
<div class="left-layout">
{% with request.user.translator_of.all as files %}
{% if files %}
<h3>{% trans "You are translator of:" %}</h3>
<table class="grid">
	<thead>
		<tr>
			<th>{% trans "File" %}</th>
			<th>{% trans "Last update" %}</th>
		</tr>
	</thead>
	<tbody id="trans_table">
	{% for file in files|dictsort:"pofile.filename" %}
	{% if file.pofile.release.enabled and file.pofile.release.project.enabled %}
	<tr>
		<td><a href="{% url list_files file.pofile.release.slug,file.pofile.language.code %}?h={{ file.pofile.slug }}">{{ file.pofile }}</a></td>
		<td>{{ file.pofile.modified|localtime:request.user.get_profile.timezone|date:"M d, Y" }}</td>
	</tr>
	{% endif %}
	{% endfor %}
	</tbody>
	<tfoot>
	<tr style="text-align: right;">
		<th colspan="2">
			<div id="trans_table_pages" class="holder"></div>
		</th>
	</tr>
	</tfoot>
</table>

{% endif %}
{% endwith %}

{% with request.user.reviewer_of.all as files %}
{% if files %}
<h3>{% trans "You are reviewer of:" %}</h3>
<table class="grid">
	<thead>
		<tr>
			<th>{% trans "File" %}</th>
			<th>{% trans "Last update" %}</th>
		</tr>
	</thead>
	<tbody id="rev_table">
	{% for file in files|dictsort:"pofile.filename" %}
	{% if file.pofile.release.enabled and file.pofile.release.project.enabled %}
	<tr>
		<td><a href="{% url list_files file.pofile.release.slug,file.pofile.language.code %}?h={{ file.pofile.slug }}">{{ file.pofile }}</a></td>
		<td>{{ file.pofile.modified|localtime:request.user.get_profile.timezone|date:"M d, Y" }}</td>
	</tr>
	{% endif %}
	{% endfor %}
	</tbody>
	<tfoot>
	<tr style="text-align: right;">
		<th colspan="2">
			<div id="rev_table_pages" class="holder"></div>
		</th>
	</tr>
	</tfoot>	
</table>
{% endif %}
{% endwith %}

{% comment %} <!-- COMMENTED -->
{% with request.user.user_files.all as files %}
{% if files %}
<h3>{% trans "Files I've been working on" %}</h3>
<table class="grid">
	<thead>
		<tr>
			<th>{% trans "File" %}</th>
			<th>{% trans "Last update" %}</th>
		</tr>
	</thead>
	<tbody>
	{% for file in files|dictsort:"pofile.filename" %}
	<tr>
		<td><a href="{% url list_files file.pofile.release.slug,file.pofile.language.code %}?h={{ file.pofile.slug }}">{{ file.pofile.filename }}</a></td>
		<td>{{ file.last_update|localtime:request.user.get_profile.timezone|date:"M d, Y" }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% endwith %}
{% endcomment %}



</div>
<div class="right-layout">

{% with request.user.files_submitted.all_pending as submits %}
{% if submits %}
<h3>{% trans "Pending Submission Queue" %}</h3>
<table class="grid">
	<thead>
		<tr>
			<th>{% trans "File" %}</th>
			<th>{% trans "Submitted on" %}</th>
		</tr>
	</thead>
	<tbody id="sub_table">
	{% for sfile in submits|dictsort:"pofile.filename" %}
	<tr>
		<td><a href="{% url list_files sfile.pofile.release.slug, sfile.pofile.language.code %}?h={{ sfile.pofile.slug }}">{{ sfile.pofile.filename }}</a></td>
		<td>{{ sfile.created|localtime:request.user.get_profile.timezone|date:"M d, Y" }}{% if not sfile.enabled %}&nbsp;<span class="stat-message">{% trans "This file is locked, which means it won't be submitted. It looks like you forgot to save the changes after editing it."%}{% endif %}</td>
	</tr>
	{% endfor %}
	</tbody>
	<tfoot>
	<tr style="text-align: right;">
		<th colspan="2">
			<div id="sub_table_pages" class="holder"></div>
		</th>
	</tr>
	</tfoot>	
</table>
{% endif %}
{% endwith %}

{% with request.user.team_coordinator.all as teams %}
{% if teams %}
<h3>{% blocktrans count teams|length as counter %}You are the coordinator of the following team:{% plural %}You are the coordinator of the following teams:{% endblocktrans %}</h3>
<table class="grid">
	<thead>
		<tr>
			<th>{% trans "Project" %}</th>
			<th>{% trans "Language" %}</th>
		</tr>
	</thead>
	<tbody>
	{% for team in teams %}
	<tr>
		<td><a href="{% url project_detail team.project.slug %}">{{ team.project.name }}</a></td>
		<td><a href="{% url team_detail team.project.slug, team.language.code %}">{{ team.language.name }}</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% endwith %}

{% with request.user.team_member.all as teams %}
{% if teams %}
<h3>{% blocktrans count teams|length as counter %}You are member of the following team:{% plural %}You are member of the following teams:{% endblocktrans %}</h3>
<table class="grid">
	<thead>
		<tr>
			<th>{% trans "Project" %}</th>
			<th>{% trans "Language" %}</th>
		</tr>
	</thead>
	<tbody>
	{% for team in teams %}
	<tr>
		<td><a href="{% url project_detail team.project.slug %}">{{ team.project.name }}</a></td>
		<td><a href="{% url team_detail team.project.slug, team.language.code %}">{{ team.language.name }}</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% endwith %}

{% with request.user.files_locked.all as locks %}
{% if locks %}
<h3>{% trans "Locked Files" %}</h3>
<table class="grid">
	<thead>
		<tr>
			<th>{% trans "File" %}</th>
			<th>{% trans "Locked on" %}</th>
		</tr>
	</thead>
	<tbody id="lock_table">
	{% for lfile in locks %}
	<tr>
		<td><a href="{% url list_files lfile.pofile.release.slug,lfile.pofile.language.code %}?h={{ lfile.pofile.slug }}">{{ lfile.pofile }}</a></td>
		<td>{{ lfile.created|localtime:request.user.get_profile.timezone|date:"M d, Y H:i" }}</td>
	</tr>
	{% endfor %}
	</tbody>
	<tfoot>
	<tr style="text-align: right;">
		<th colspan="2">
			<div id="lock_table_pages" class="holder"></div>
		</th>
	</tr>
	</tfoot>	
</table>
{% endif %}
{% endwith %}
</div>
<div style="clear: both;"></div>