{% extends "base.html" %}
{% load i18n timezone_filters %}
{% block title %}{{block.super}} | {% trans "User Profile" %}{% endblock %}
{% block favs %}
{% endblock %}
{% block extra_head %}
{{ block.super }}
<link media="screen" href="{{STATIC_URL}}css/jpag.css" type="text/css" rel="stylesheet" />
<script><!--
var url_profile_remove_fav = '{% url 'profile_remove_fav' %}';
var url_add_startup = '{% url 'add_startup' %}';
var url_remove_startup = '{% url 'remove_startup' %}';
--></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jpages.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/profileapp.js"></script>
{% endblock %}
{% block quick_menu %}
<a class="none" href="{% url 'home' %}">{% trans 'Home' %}</a>
<span>{% trans "Profile" %}</span>
{% endblock %}
{% block content %}

<div id="tabs">
    <ul>
        <li><a href="#tab-1"><span>{% trans "Settings" %}</span></a></li>
        <li><a href="#tab-2"><span>{% trans "Workpanel" %}</span></a></li>
        {% if user.is_superuser %}
        <li><a href="#tab-3"><span>{% trans "Notification" %}</span></a></li>
        {% endif %}
    </ul>
    <div id="tab-1">
    	{% include "registration/profile_box.html" %}
    </div>
    <div id="tab-2">
    	{% include "registration/profile_workarea_box.html" %}
    </div>
    {% if user.is_superuser %}
    <div id="tab-3">
        {% include "registration/profile_contact_box.html" %}
    </div>
    {% endif %}
</div>

{% endblock %}