{% extends "base.html" %}
{% load i18n timezone_filters %}
{% block title %}{{block.super}} | {% trans "User Profile" %}{% endblock %}
{% block favs %}
{% endblock %}
{% block extra_head %}
{{ block.super }}
<link media="screen" href="{{STATIC_URL}}css/jpag.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}js/jpages.min.js"></script>
<script><!--
$(document).ready(function(){
	$( "#tabs" ).tabs({
		active: ($.cookie('profile_tab') || 0),
		create: function(event, ui) {
			createPagination();
		},
		activate: function(event, ui) {
			$.cookie('profile_tab', ui.newTab.index());
			createPagination();
		}
	});	
});

function createPagination() {
	var maxPages = 10;
	if ($(".jp-current").length == 0) {
		$("#trans_table_pages").jPages({
	        containerID  : "trans_table",
	        perPage      : maxPages,
	        previous: '{% trans "previous" %}',
	        next: '{% trans "next" %}',
		});
		$("#rev_table_pages").jPages({
	        containerID  : "rev_table",
	        perPage      : maxPages,
	        previous: '{% trans "previous" %}',
	        next: '{% trans "next" %}',
		});				
		$("#sub_table_pages").jPages({
	        containerID  : "sub_table",
	        perPage      : maxPages,
	        previous: '{% trans "previous" %}',
	        next: '{% trans "next" %}',
		});
		$("#lock_table_pages").jPages({
	        containerID  : "lock_table",
	        perPage      : maxPages,
	        previous: '{% trans "previous" %}',
	        next: '{% trans "next" %}',
		});						
	}
}
function remove_pro_fav(id) {
	$.post('{% url profile_remove_fav %}',
			{id: id},
			process_remove_pro_fav_response,
			  "xml");	
}
function process_remove_pro_fav_response(data) {
	$(data).find('response').each(function(){
		var c = $(this).find('id');
		if (c.length>0) {
			$("#fav_"+c.text()).remove();
			$("#bookmark_"+c.text()).remove();
		}
	});	
}
function startup_set(id, remove) {
	if (remove == undefined) {
		url = '{% url add_startup %}';
		proc = process_set_startup 
	} else {
		url = '{% url remove_startup %}';
		proc = process_remove_startup
	}
	$.post(url,
			{id: id},
			proc,
			  "xml");	
}

function process_remove_startup(data) {
	$(data).find('response').each(function(){
		var c = $(this).find('id');
		if (c.length>0) {
			$("#start_del_"+c.text()).hide();
			$("#start_set_"+c.text()).show();
		}
	});	
}
function process_set_startup(data) {
	$(data).find('response').each(function(){
		var c = $(this).find('id');
		if (c.length>0) {
			$("#start_del_"+c.text()).show();
			$("#start_set_"+c.text()).hide();
		}
	});	
}

--></script>
{% endblock %}
{% block quick_menu %}
<a class="none" href="{% url home %}">{% trans 'Home' %}</a>
<span>{% trans "Profile" %}</span>
{% endblock %}
{% block content %}

<div id="tabs">
    <ul>
        <li><a href="#tab-1"><span>{% trans "Settings" %}</span></a></li>
        <li><a href="#tab-2"><span>{% trans "Workpanel" %}</span></a></li>
        {% if user.is_superuser %}
        <li><a href="#tab-3"><span>{% trans "Notification" %}</span></a></li>
        {% endif %}
    </ul>
    <div id="tab-1">
    	{% include "registration/profile_box.html" %}
    </div>
    <div id="tab-2">
    	{% include "registration/profile_workarea_box.html" %}
    </div>
    {% if user.is_superuser %}
    <div id="tab-3">
        {% include "registration/profile_contact_box.html" %}
    </div>
    {% endif %}
</div>

{% endblock %}