{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }} | {% trans "Sign up" %}{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{{STATIC_URL}}js/simpletooltip2.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/errors.js"></script>
<link media="screen" href="{{STATIC_URL}}css/widgets/simpletooltip2.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="register" class="center">
{% include "registration/register_box.html" %}
</div>
{% endblock %}
