{% load i18n extendtags %}
{% call team.project.is_maintainer request.user as maintainer %}
<table id="team_manage_table" class="grid">
	<thead>
		<tr>
			<th>{% trans "Group" %}</th>
			<th>{% trans "User" %}</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{% with team.coordinators.all as coordinators %}
	{% if coordinators %}
    {% for m in coordinators %}
	<tr>
		<td class="icon coordinator">{% trans "Coordinator" %}</td>
		<td>
			<a href="{% url contact_me m.username %}">
			{% if m.get_full_name %}
			{{ m.get_full_name }} ({{ m.username }})
			{% else %}
			{{ m.username }}
			{% endif %}
			</a>
		</td>
		<td>
			{% ifnotequal request.user m %}
			{% if request.user.is_staff or maintainer %}
			<span class="nodecoration_icon icon delete link" onclick="update_member('{% url remove_member team.id, m.username %}')" title="{% trans "Remove" %}"></span>
			<span class="nodecoration_icon icon group_remove link" onclick="update_member('{% url change_group team.id, m.username,'member' %}')" title="{% trans "Remove coordinator" %}"></span>
			{% endif %}
			{% endifnotequal %}
		</td>
	</tr>
    {% endfor %}		
	{% endif %}
	{% endwith %}
	
	{% with team.committers.all as committers %}
	{% if committers %}
	{% for m in committers|dictsort:"username" %}
    <tr>
        <td class="icon committer">{% trans "Committer" %}</td>
        <td>
            <a href="{% url contact_me m.username %}">
            {% if m.get_full_name %}
            {{ m.get_full_name }} ({{ m.username }})
            {% else %}
            {{ m.username }}
            {% endif %}
            </a>
        </td>
        <td>
            <span class="nodecoration_icon icon delete link" onclick="update_member_cnf('{% url remove_member team.id, m.username %}')" title="{% trans "Remove" %}"></span>
            <span class="nodecoration_icon icon group_add link" onclick="update_member('{% url change_group team.id, m.username,'coord' %}')" title="{% trans "Set as coordinator" %}"></span>
            <span class="nodecoration_icon icon commit-p-del link" onclick="update_member('{% url change_group team.id, m.username,'member' %}')" title="{% trans "Remove submit grants" %}"></span>
            {% iftrue m.has_perm "glossary.add_glossary" %}
            <span class="nodecoration_icon icon gloss-p-del link" onclick="update_member('{% url remove_grant team.id, m.username,"add_glossary" %}')" title="{% trans "This user can update the glossary. Disallow." %}"></span>
            {% else %}
            <span class="nodecoration_icon icon gloss-p-add link" onclick="update_member('{% url add_grant team.id, m.username,"add_glossary" %}')" title="{% trans "This user cannot update the glossary. Allow." %}"></span>
            {% endiftrue %}         
        </td>
    </tr>	
	{% endfor %}
	{% endif %}
	{% endwith %}
	
	{% with team.members.all as members %}
	{% if members %}
    {% for m in members|dictsort:"username" %}
	<tr>
		<td class="icon member">{% trans "Member" %}</td>
		<td>
			<a href="{% url contact_me m.username %}">
			{% if m.get_full_name %}
			{{ m.get_full_name }} ({{ m.username }})
			{% else %}
			{{ m.username }}
			{% endif %}
			</a>
		</td>
		<td>
			<span class="nodecoration_icon icon delete link" onclick="update_member_cnf('{% url remove_member team.id, m.username %}')" title="{% trans "Remove" %}"></span>
			<span class="nodecoration_icon icon group_add link" onclick="update_member('{% url change_group team.id, m.username,'coord' %}')" title="{% trans "Set as coordinator" %}"></span>
			<span class="nodecoration_icon icon commit-p-add link" onclick="update_member('{% url change_group team.id, m.username,'commit' %}')" title="{% trans "Add repository submit grants" %}"></span>
			{% iftrue m.has_perm "glossary.add_glossary" %}
			<span class="nodecoration_icon icon gloss-p-del link" onclick="update_member('{% url remove_grant team.id, m.username,"add_glossary" %}')" title="{% trans "This user can update the glossary. Disallow." %}"></span>
			{% else %}
			<span class="nodecoration_icon icon gloss-p-add link" onclick="update_member('{% url add_grant team.id, m.username,"add_glossary" %}')" title="{% trans "This user cannot update the glossary. Allow." %}"></span>
			{% endiftrue %}			
		</td>
	</tr>
    {% endfor %}		
	{% endif %}
	{% endwith %}
	</tbody>
</table>