{% load i18n djangopm pagination_tags paginator %}

<div class="pm-info-span">{%blocktrans with current=pmmessages|length max=MAX_DISPLAY%}Your current mailbox size {{current}} of {{max}}.{%endblocktrans%}
{% if pmmessages|length >= MAX_DISPLAY %}
<br/><span class="icon warn">{% trans "You are using your maximum mailbox capacity." %}</span> 
{% endif %}
</div> 
{% if pmmessages %}
{% autopaginate pmmessages 10 %}
<div class="pagination_box">{% paginatepage %}</div>
<div id="message_delete_target" style="display: none;" href="{{ delete_url }}"></div>
<ul>
{% for mob in pmmessages %}
    <li id="mob_{{mob.pk}}" {% if mob.unread %}class="unread"{%endif%} href="{{ mob.get_absolute_url }}" compose="{{compose}}">
        <div class="mbox-act"><input type="checkbox" value="{{mob.pk}}" name="id"/></div>
        {% if isinbox %}
        <div class="mbox-from">{% if mob.message.sender %}{{mob.message.sender}}{%else%}-{%endif%}</div>
        <div class="mbox-subject wordwrap">{{mob.message.subject|truncatechars:60}}</div>
        {% else %}
        <div class="mbox-subject wordwrap">{{mob.message.subject|truncatechars:75}}</div>
        <div class="mbox-from">&nbsp;</div>
        {% endif %}
        <div class="mbox-date">{{mob.message.created|date_todaytime}}</div>
    </li>
{% endfor %}
</ul>    
{% else %}
    <div class="pm_box_empty">{% trans "Mailbox empty." %}</div>
{% endif %}