{% load i18n pmdate %}

{% if pmmessages %}
<ul>
{% for mob in pmmessages %}
    <li {% if mob.unread %}class="unread"{%endif%} href="{{ mob.get_absolute_url }}">
        <div class="mbox-act"><input type="checkbox" value="{{mob.pk}}" name="id"/></div>
        <div class="mbox-from">{% if mob.message.sender %}{{mob.message.sender}}{%else%}-{%endif%}</div>
        <div class="mbox-subject">{{mob.message.subject}}</div>
        <div class="mbox-date">{{mob.message.created|date_todaytime}}</div>
    </li>
{% endfor %}
</ul>    
{% else %}
    <div class="pm_box_empty description">{% trans "Mailbox empty." %}</div>
{% endif %}