{% extends "base.html" %}
{% load i18n extendtags %}
{% block title %}{{ block.super }} | {% trans "Submission Queue" %}{% endblock %}
{% block quick_menu %}
<a class="none" href="{% url home %}">{% trans 'Home' %}</a>
<span>{% trans "Submission Queue" %}</span>
{% endblock %}
{% block content %}
{% block content_title %}<h1>{% trans "Submission Queue Manager" %}</h1>{% endblock %}

{% if teams %}
{% regroup teams|dictsort:"project.pk" by project as project_list %}
{% for teamproject in project_list %}
	<form id="submit_form_{{teamproject.grouper.pk}}" method="post" action="{% url file_qsubmit %}">
	{% csrf_token %}
	<h3>
	{% blocktrans with projectname=teamproject.grouper.name %}Submission Queue for Project {{ projectname }}{% endblocktrans %}
	</h3>
	<table id="submit_table" class="grid">
		<thead>
			<tr>
				<th><input type="checkbox" name="selector" rel="submit_form_{{teamproject.grouper.pk}}"/></th>
				<th>{% trans "File" %}</th>
				<th>{% trans "Component" %}</th>
				<th>{% trans "Release" %}</th>
				<th>{% trans "Submitted on" %}</th>
				<th>{% trans "by" %}</th>
				<th>{% trans "Comment" %}</th>
			</tr>
		</thead>
		{% for team in teamproject.list %}
			{% if team.submits %}
				{% include "files/submit_table.html" with submit_files=team.submits team=team %}
			{% endif %}
		{% endfor %}
		<tfoot>
			<tr>
				<td colspan="7" class="table-action">
					<input class="icon submit" type="submit" name="submit" value="{% trans "Submit" %}">
					<input class="icon remove" type="submit" name="reject" value="{% trans "Reject" %}">
				</td>	
			</tr>
		</tfoot>
	</table>		
	</form>
{% endfor %}
{% else %}
<span class="help_text">{% trans "The queue is empty." %}</span>
{% endif %}
{% endblock %}