{% extends "files/file_base.html" %}
{% load i18n extendtags timezone_filters settingstag %}
{% block title %}{{block.super}} | {{ language.name }} -{{ release.name }}- ({{ release.project.name }}){% endblock %}
{% block extra_head %}
{% include "browser_fixes.html" %}
{% ifsetting ENABLE_RSS %}
<link rel="alternate" type="application/rss+xml" title="{% trans "Latest updates" %}" href="{% url language_release_feed release.slug, language.code %}">
{% if user.is_authenticated %}
<link rel="alternate" type="application/rss+xml" title="{% trans "Latest updates for you" %}" href="{% url language_release_feed release.slug, language.code %}?user={{user.username}}">
{% endif %}
{% endifsetting %}
{% iftrue team.can_manage user %}
{% set 'true' as can_manage %}
{% endiftrue %}
{% ifsetting ENABLE_RSS %}
{% if can_manage or perms.teams.can_commit %}
<link rel="alternate" type="application/rss+xml" title="{% trans "Submission queue" %}" href="{% url language_project_queue_feed release.project.slug, language.code %}">
{% endif %}
{% endifsetting %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.metadata.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.json.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookiejar.pack.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.cookie.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.aop.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/filelist.js"></script>
<script type="text/javascript"><!--
var RELOAD_LIST_FILES_URL = "{% url reload_list_files release.slug,language.code %}";
var LIST_PROJECT_RELEASE = "{{release.slug}}";
$(document).ready(function(){ 
	initialize_filelist();
    $("#component_list > input").removeAttr('checked');
    {% for id in cfilter %}
    	$("#cmp_{{id}}").attr('checked', true);
    {% endfor %}
    $("#component_list").buttonset();
    $("#component_list").find('input:checked').button("option", "icons", {primary:'ui-icon-circle-check'});
    $("#component_list").find('input:not(:checked)').button("option", "icons", {primary:'ui-icon-circle-plus'});
    check_filter_button();
    $("#component_list").show();
    $("#filestabs").show();
}); 
--></script>
{% endblock %}
{% block quick_menu %}
{{ block.super }}
<span>{{ language.name }}</span>
{% endblock %}
{% block content %}

{% iftrue team.can_manage user %}
{% set 'true' as can_manage %}
{% endiftrue %}

{% block content_title %}<h1>{{ language.name }}&nbsp;<sup>({{ language.code }})</sup>
{% ifsetting ENABLE_RSS %}
&nbsp;&nbsp;<a class="icon feed" title="{% trans "Latest updates" %}" href="{% url language_release_feed release.slug, language.code %}">&nbsp;</a>
{% if user.is_authenticated %}
<a class="icon feed_user" title="{% trans "Latest updates for you" %}" href="{% url language_release_feed release.slug, language.code %}?user={{user.username}}">&nbsp;</a>
{% endif %}
{% endifsetting %}
</h1>{% endblock %}

<div class="details">
	<table class="definition">
		{% if can_manage or perms.teams.can_commit %}		
		<tr>
		<td colspan="2">
		  {% ifsetting ENABLE_RSS %}
			<a class="icon feed soft_text" href="{% url language_project_queue_feed release.project.slug, language.code %}">{% trans "Submission queue" %}</a>
		  {% endifsetting %}
		</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		{% endif %}
		<tr>
			<th class="icon team-page">{% trans "Team:" %}</th>
			<td><a href="{{ team.get_absolute_url }}">{{ language.name }}</a></td>
		</tr>
		<tr>
			<th class="icon project">{% trans "Project:" %}</th>
			<td><a href="{{ release.project.get_absolute_url }}">{{ release.project.name }}</a></td>
		</tr>
		<tr>
			<th class="icon release">{% trans "Release:" %}</th>
			<td><a href="{{ release.get_absolute_url }}">{{ release.name }}</a></td>
		</tr>
	</table>
</div>
{% if release.enabled and release.project.enabled %}
	{% set 'enabled' as enabled %}
{% endif %}
{% if release.read_only or release.project.read_only %}
	{% set 'read_only' as readonly %}
{% endif %}	
{% if user.is_authenticated and enabled and not readonly %}
	{% include "files/upload_box.html" %}
{% endif %}

<br/>

{% if user.is_authenticated and enabled and not readonly %}
<div class="filter-box">
	<fieldset>
		<ul class="simple">
			<li>
			<input name="extraFunc" id="id_hidetranslated" type="checkbox" alt="shide_{{release.slug}}" {% if hideTranslated %}checked{% endif %}>
			<label for="id_hidetranslated">{% trans "Hide fully translated files" %}</label>
			</li>
			<li>
			<input name="extraFunc" id="id_onlySelf" type="checkbox" alt="onlys_{{release.slug}}" {% if onlySelf %}checked{% endif %}>
			<label for="id_onlySelf">{% trans "Show my files only" %}</label>
			</li>
			<li>
			<button id="filterbutton" class="icon submit right">{% trans "Apply" %}</button>
			</li>			
		</ul>
	</fieldset> 
</div>
{% endif %}

<br/>
<div id="component_list" style="display: none;">
{% with release.project.components.all as components %}
	{% for component in components|dictsort:"pk" %}
    <input type="checkbox" id="cmp_{{component.pk}}" name="{{component.slug}}" value="{% url list_files_component release=release.slug language=language.code component=component.slug %}{% if highlight %}?h={{highlight}}{%endif%}"/>
    <label for="cmp_{{component.pk}}">{{ component.name }}</label>
	{% endfor %}
{% endwith %}
</div>

<div id="filestabs" class="ui-widget-content ui-corner-all" style="display: none;">
{% include "files/file_list_table.html" %}
</div>

{% if user.is_authenticated %}
<br/>
<div class="details">
    <h2>{% trans "Recent activity" %}</h2>
    <ul class="simple">
	{% for log in last_actions %}
    {% url file_detail log.pofile.slug as logfileurl %}
	<li class="icon info">
	{% blocktrans with filename=log.pofile.filename log_action=log.get_action_display|lower username=log.user.username updated=log.created|localtime:request.user.get_profile.timezone|timesince %}
	File <b><a href="{{logfileurl}}">{{filename}}</a></b> {{log_action}} by <b>{{username}}</b> {{updated}} ago.
	{% endblocktrans %}
	</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
<div id="user-selection-list" class="floating-box">
<select id="user-select" style="width: 150px;">
{% for user in team.team_members %}
	<option value="{{user.id}}">{{user.username}}{%if user.get_full_name%} ({{user.get_full_name}}){%endif%}</option>
{% endfor %}
</select>
<span id="select_ok" onclick="$('#user-selection-list').submit()" class="nodecoration_icon action_icon2 submit link" style="padding-right: 0px;">&nbsp;</span>
<span id="select_nok" onclick="$('#user-selection-list').hide()" class="nodecoration_icon action_icon2 cancel link" style="padding-right: 0px; margin-left: 0px;">&nbsp;</span>
</div>

<div id="lock_comment" style="display: none;">
<fieldset>
	<p class="validateTips help_text"></p>
	<span id="comment_text"></span><br/><br/>
	<label for="comment_input">{% trans "Comments" %}:</label>
	<input id="comment_input" maxlength="255" size="15" type="text" value="" class="text ui-widget-content ui-corner-all">
</fieldset>
</div> 

{% endblock %}
