{% extends "files/file_base.html" %}
{% load i18n extendtags timezone_filters settingstag %}
{% block title %}{{block.super}} | {{ language.name }} -{{ release.name }}- ({{ release.project.name }}){% endblock %}
{% block extra_head %}
{% include "browser_fixes.html" %}
{% ifsetting ENABLE_RSS %}
<link rel="alternate" type="application/rss+xml" title="{% trans "Latest updates" %}" href="{% url language_release_feed release.slug, language.code %}">
{% if user.is_authenticated %}
<link rel="alternate" type="application/rss+xml" title="{% trans "Latest updates for you" %}" href="{% url language_release_feed release.slug, language.code %}?user={{user.username}}">
{% endif %}
{% endifsetting %}
{% iftrue team.can_manage user %}
{% set 'true' as can_manage %}
{% endiftrue %}
{% ifsetting ENABLE_RSS %}
{% if can_manage or perms.teams.can_commit %}
<link rel="alternate" type="application/rss+xml" title="{% trans "Submission queue" %}" href="{% url language_project_queue_feed release.project.slug, language.code %}">
{% endif %}
{% endifsetting %}
<script type="text/javascript" src="{{STATIC_URL}}js/filemanipulation.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.metadata.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.json.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookiejar.pack.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.cookie.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.aop.min.js"></script>
<!-- 
<link href="{{STATIC_URL}}facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="{{STATIC_URL}}facebox/facebox.js" type="text/javascript"></script>
<script type="text/javascript">
$.facebox.settings.loadingImage = '{{STATIC_URL}}facebox/loading.gif';
$.facebox.settings.closeImage = '{{STATIC_URL}}facebox/close.gif';
</script>
-->
<script type="text/javascript"><!--
function add_comment(name, url) {
	$("#lock_comment").attr('action', url);
	$("#comment_text").text(interpolate(gettext('Unlocking file %s'), [name]));
	$("#lock_comment").dialog('open');
}

var tabCache = [];
$(document).ready(function(){ 

	{% if default_component %}
	var tidx = $("#{{default_component.slug}}").attr('index');
	{% endif %}
	
	$("#filestabs").tabs({
			cache: true,
			{% if default_component %}
			selected: parseInt(tidx),
			{% endif %}
			cookie: {
				expires: 7,
				name: 'tab_{{release.project.slug}}'
			},
			load: function(event, ui) {
				$(ui.panel).find('.file_list_table').tablesorter({
		            headers: { 1: { sorter: 'percentbars'}},
		            widgets: ['cookie'],
				});
				tabCache.push(ui.index);
			},
			show: function(event, ui) {
				var $elem = $("a[href="+$(ui.tab).attr('href')+"] > span");
				if ($elem.hasClass('tab-need-reload')) {
					$elem.removeClass('tab-need-reload');
					$(this).tabs('load', ui.index);
				}
			},
			spinner: '<img src="{{STATIC_URL}}images/loading_lt.gif"/>'
		});
	
    	jQuery.aop.before({target: jQuery.fn, method: "hide"},
		function(){
			this.trigger("hide");
		});
    
	    $.tablesorter.addParser({ 
	        id: 'percentbars', 
	        is: function(s) { 
	            return false; 
	        }, 
	        format: function(s) {
		        re = s.match(new RegExp(/(\d*%)/g));
	        	if (re) {
		        	s = re[0];
	        	}
	        	return $.tablesorter.formatFloat(s.replace(new RegExp(/%/g),""));
	        }, 
	        type: 'numeric' 
	    });     

		$(document).keyup(function(event){
		    if (event.keyCode == 27) {
		    	check_current();
		    }
		});
		init_select_events();
		
		$("#filterbutton").click(function() {
			$("input[name='extraFunc']").each(function() {
				if ($(this).is(':checked')) {
					$.cookie($(this).attr('alt'), 'true', { expires: 30, path: '/' });
				} else {
					$.cookie($(this).attr('alt'), null, {path: '/' });
				}
			});			
			var current = $("#filestabs").tabs('option', 'selected');
			tabCache.forEach(function(el, idx, arr) {
				if (el != current) {
					$("a[href=#ui-tabs-"+(el+1)+"] > span").addClass('tab-need-reload');
				}
			});
			$("#filestabs").tabs( "load" , current);
		});

		$("#comment_input").keyup(function (e) {
			if( e.keyCode == $.ui.keyCode.ENTER ) {
				e.preventDefault();
				$("#lock_comment ~ div.ui-dialog-buttonpane").find('button').click();
			}
		});
		
		$( "#lock_comment" ).dialog({
			autoOpen: false,
			width: 350,
			modal: true,
			resizable: false,
			buttons: {
				'{% trans "Ok" %}': function() {
					var bValid = true;
					bValid = bValid && checkLength( $("#comment_input"), '{% trans "Comments" %}', 4, 255 );
					if ( bValid ) {
						try_toggle($("#lock_comment").attr('action'),{'text': $('#comment_input').val()});
						$( this ).dialog( "close" );
					}
				},
			},
			open: function() {
				$(".validateTips").text('');
				$("#comment_input").val('');
			},
			close: function() {
				$("#comment_input").removeClass( "ui-state-error" );
			}
		});
		
		$("#filestabs").show();
	
    } 
); 
--></script>
{% endblock %}
{% block quick_menu %}
{{ block.super }}
<span>{{ language.name }}</span>
{% endblock %}
{% block content %}

{% iftrue team.can_manage user %}
{% set 'true' as can_manage %}
{% endiftrue %}

{% block content_title %}<h1>{{ language.name }}&nbsp;<sup>({{ language.code }})</sup>
{% ifsetting ENABLE_RSS %}
&nbsp;&nbsp;<a class="icon feed" title="{% trans "Latest updates" %}" href="{% url language_release_feed release.slug, language.code %}">&nbsp;</a>
{% if user.is_authenticated %}
<a class="icon feed_user" title="{% trans "Latest updates for you" %}" href="{% url language_release_feed release.slug, language.code %}?user={{user.username}}">&nbsp;</a>
{% endif %}
{% endifsetting %}
</h1>{% endblock %}

<div class="details">
	<table class="definition">
		{% if can_manage or perms.teams.can_commit %}		
		<tr>
		<td colspan="2">
		  {% ifsetting ENABLE_RSS %}
			<a class="icon feed soft_text" href="{% url language_project_queue_feed release.project.slug, language.code %}">{% trans "Submission queue" %}</a>
		  {% endifsetting %}
		</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		{% endif %}		
		<tr>
			<th class="icon project">{% trans "Project:" %}</th>
			<td>{{ release.project.name }}</td>
		</tr>
		<tr>
			<th class="icon release">{% trans "Release:" %}</th>
			<td>{{ release.name }}</td>
		</tr>
	</table>
</div>
{% if release.enabled and release.project.enabled %}
	{% set 'enabled' as enabled %}
{% endif %}
{% if release.read_only or release.project.read_only %}
	{% set 'read_only' as readonly %}
{% endif %}	
{% if user.is_authenticated and enabled and not readonly %}
	{% include "files/upload_box.html" %}
{% endif %}

<br/>

<div class="filter-box">
	<fieldset>
		<ul class="simple">
			<li>
			<input name="extraFunc" id="id_hidetranslated" type="checkbox" alt="shide_{{release.slug}}" {% if hideTranslated %}checked{% endif %}>
			<label for="id_hidetranslated">{% trans "Hide fully translated files" %}</label>
			</li>
			<li>
			<input name="extraFunc" id="id_onlySelf" type="checkbox" alt="onlys_{{release.slug}}" {% if onlySelf %}checked{% endif %}>
			<label for="id_onlySelf">{% trans "Show my files only" %}</label>
			</li>
			<li>
			<button id="filterbutton" class="icon submit right">{% trans "Apply" %}</button>
			</li>			
		</ul>
	</fieldset> 
</div>

<br/>

<div id="filestabs" style="display: none;">
{% with release.project.components.all as components %}
    <ul>
	{% for component in components|dictsort:"pk" %}
		<li id="{{component.slug}}" index="{{forloop.counter0}}"><a href="{% url list_files_component release=release.slug language=language.code component=component.slug %}{% if highlight %}?h={{highlight}}{%endif%}">{{ component.name }}<span style="padding-left: 5px;">&nbsp;</span></a></li>
	{% endfor %}
	</ul>
{% endwith %}
</div>

{% if user.is_authenticated %}
<br/>
<div class="details">
    <h2>{% trans "Recent activity" %}</h2>
    <ul class="simple">
	{% for log in last_actions %}
	{% with log.pofile.filename as filename %}
	{% with log.get_action_display|lower as log_action %}
	{% with log.user.username as username %}
	{% with log.created|localtime:request.user.get_profile.timezone|timesince as updated %}
    {% url file_detail log.pofile.slug as logfileurl %}
	<li class="icon info">{% blocktrans %}File <b><a href="{{logfileurl}}">{{filename}}</a></b> {{log_action}} by <b>{{username}}</b> {{updated}} ago.{% endblocktrans %}</li>
	{% endwith %}{% endwith %}{% endwith %}{% endwith %} 
	{% endfor %}
	</ul>
</div>
{% endif %}
<div id="user-selection-list" class="floating-box">
<select id="user-select">
{% for user in team.team_members %}
	<option value="{{user.id}}">{{user.username}}{%if user.get_full_name%} ({{user.get_full_name}}){%endif%}</option>
{% endfor %}
</select>
<span id="select_ok" onclick="$('#user-selection-list').submit()" class="nodecoration_icon action_icon submit link" style="padding-right: 0px;">&nbsp;</span>
<span id="select_nok" onclick="$('#user-selection-list').hide()" class="nodecoration_icon action_icon cancel link" style="padding-right: 0px; margin-left: 0px;">&nbsp;</span>
</div>

<div id="lock_comment" style="display: none;">
<fieldset>
	<p class="validateTips help_text"></p>
	<span id="comment_text"></span><br/><br/>
	<label for="comment_input">{% trans "Comments" %}:</label>
	<input id="comment_input" maxlength="255" size="15" type="text" value="" class="text ui-widget-content ui-corner-all">
</fieldset>
</div> 

{% endblock %}
