{% extends "base.html" %}
{% load i18n formtags pagination_tags paginator %}
{% block title %}{{ block.super }} | {% trans "Confirm action" %}{%endblock%}
{% block quick_menu %}
<a class="none" href="{% url 'home' %}">{% trans 'Home' %}</a>
<a href="{% url 'commit_queue' %}">{% trans 'Submission Queue' %}</a>
<span>{% trans "Confirm" %}</span>
{% endblock %}
{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/paginator.css" />
<script type="text/javascript" src="{{STATIC_URL}}js/filesubmit.js"></script>
{% endblock %}
{% block content %}
<form class="form-style" action="{% url 'confirm_submit' %}" method="post">
{% csrf_token %}
<input type="hidden" name="back" value="{{ back }}">
<input type="hidden" name="reject" value="{{ reject }}">
<input type="hidden" name="needuser" value="{{ needuser }}">
<input type="hidden" name="p" value="{{ project }}">
<div id="submit_user" class="center-box" style="padding-top: 0; width: 350px">
{% if needuser %}
	<fieldset>
	<legend>{% trans "Enter your repository credentials" %}</legend> 
	<ol>
		<li>{% formfield form.user %}</li>
		<li>{% formfield form.password %}</li>
		<li>{% formfield form.message %}</li>
	</ol>
	</fieldset>
{% else %}
	<fieldset>
	<ol>
		<li>{% formfield form.message %}</li>
	</ol>
	</fieldset>
{% endif %}
<fieldset>
<p>{% blocktrans count counter=files.files.count %}
Ready to process 1 file
{%plural%}
Ready to process {{counter}} files
{%endblocktrans%}</p>
<a style="float: right;" href="{% url 'confirm_submit_files' files.pk %}" id="aShowMore">{% trans "Show files" %}</a>
</fieldset>
<fieldset style="text-align: right;">
  <input class="icon submit" type="submit" onclick="popoverlay('{% trans "Please wait, this could take some time..." %}')" name="submit" value="{% trans "Confirm" %}">
  <input name="href" rel="{{ back }}" type="button" class="icon cancel" value="{% trans "Cancel" %}">
</fieldset>
</div>
<input type="hidden" name="file" value="{{files.pk}}">
{% comment %}
<table id="submit_table" class="grid center-box">
	<thead>
		<th>{% trans "File" %}</th>
		<th>{% trans "Component" %}</th>
		<th>{% trans "Release" %}</th>
		<th>{% trans "Project" %}</th>
		<th>{% trans "Language" %}</th>
	</thead>
	<tbody>
	{% for sfile in files %}
	<tr>
		<input type="hidden" name="file" value="{{ sfile.id }}">
		<td><a href="{% url 'file_detail' sfile.pofile.slug %}">{{ sfile.pofile.filename }}</a></td>
		<td>{{ sfile.pofile.component.name }}</td>
		<td>{{ sfile.pofile.release.name }}</td>
		<td>{{ sfile.pofile.release.project.name }}</td>
		<td>{{ sfile.pofile.language.name }}</td>
	</tr>
	{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="table-action">
				<input class="icon submit" type="submit" onclick="popoverlay('{% trans "Please wait, this could take some time..." %}')" name="submit" value="{% trans "Confirm" %}">
				<input name="href" rel="{{ back }}" type="button" class="icon cancel" value="{% trans "Cancel" %}">
			</td>	
		</tr>
	</tfoot>
</table>
{% endcomment %}
</form>
<div id="submitConfirmFileListDialog" style="display: none;"></div>
{% endblock %}
