{% load i18n errors %}
<script type="text/javascript">
$(function() {
    $("#id_fakefile").on('click', function() {
        $("#id_file").click();
    });
    $("#id_file").on('change', function() {
        $("#id_fakefile").val(get_filename($(this).val()));
    });
    $("#id_fakefile").val(get_filename($("#id_file").val()));

    $("a.file-reload").on('click', function(ev) {
        ev.preventDefault();
        $("#upload_form").attr('action',$(this).attr('alt'));
        //$("#file_name").html(interpolate(gettext('Replacing %s'), [$(this).attr('alt2')]));
        $("#new_upload").dialog("option", "title", interpolate(gettext('Replace %s'), [$(this).attr('alt2')]) );
        $("#new_upload").dialog('open');
    });

    $("#upload_form").on('submit', function() {
		if ($("#id_file").val() == "" || $("#id_comment").val() == "") {
			show_ok_dialog("{% trans "Both field are required" %}");
			return false;
		} else {
			popoverlay('{% trans "Please wait, this could take some time..." %}');
			$("#new_upload").dialog('close');
		}
    })
    
    $("#new_upload").dialog({
        autoOpen: false,
        width: 360,
        modal: true,
        resizable: false,
        open: function() {
            $("#id_comment").val('');
        },
        close: function() {
            $("#id_comment").removeClass( "ui-state-error" );
            $("#upload_form div.error-tip").remove();
            $("span.error").remove();
        }
    });
    
	{% if form.errors %}
    $("#upload_form").attr('action','{% url submit_new_file uploadfile.slug %}');
    //$("#file_name").html(interpolate(gettext('Replacing %s'), ['{{uploadfile.filename}}']));
    $("#new_upload").dialog("option", "title", interpolate(gettext('Replace %s'), ['{{uploadfile.filename}}']) );
	$("#new_upload").dialog('open');
    {% endif %}
});
</script>

<div id="new_upload" >
    <form id="upload_form" class="form-style" method="post" enctype="multipart/form-data" accept-charset="utf-8">
        {% csrf_token %}
        <div class="upload-control">
            <table>
                <tr>
                    <td>
                        <input type="file" id="id_file" name="file" style="display: none;"/>
                        <input type="text" id="id_fakefile" name="fakefile" readonly="readonly" class="file_attach" title="{% trans "Click to select a file" %}"/>
                    </td>
                    <td><input type="submit" class="icon upload-go" value="{% trans "Upload" %}"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="help_text">{% trans "Comments" %}:&nbsp;<em>*</em></span>
                        <input id="id_comment" name="comment" maxlength="255" type="text" {% if form.comment.errors %}class="ui-state-error" title="{{form.comment|errormsg}}"{% endif %}>
                    </td>
                </tr>
            </table>
            {% if form.file.errors %}
            <div class="tooltipbox error-tip" style="margin-right: 15px;">
            <div class="tip-wrap">
            <div class="tip-body">{{form.file|errormsg}}</div>
            </div>
            </div>
            {% endif %}
        </div>
    </form> 
</div> 
