{% load i18n extendtags timezone_filters %}
<tbody id="submit_form_team_{{team.id}}">
{% if team %}
<tr>
<td><input type="checkbox" name="selector" rel="submit_form_team_{{team.id}}"/></td>
<td colspan="6" class="submit-title">
{% blocktrans with teamname=team.language.name url=team.get_absolute_url %}Team <a href="{{url}}">{{ teamname }}</a>{% endblocktrans %}
</td>
</tr>
{% endif %}
{% for sfile in submit_files %}
<tr>
	<td>
		{% if sfile.locked %}
		<span class="nodecoration_icon action_icon2 on-submit" title="{% trans "The file is in the submission queue" %}"></span>
		{% else %}
		<input type="checkbox" name="file" value="{{ sfile.pk }}">
		{% endif %}
	</td>
	<td>
	<a href="{% url get_submit_file sfile.pofile.slug %}" class="action_icon nodecoration_icon download" title="{% trans "Download" %}"></a>
	<a href="{% url view_file_diff sfile.pofile.slug %}" class="action_icon nodecoration_icon file-diff" title="{% trans "View Diff" %}"></a>
	<a href="{% url view_file_udiff sfile.pofile.slug %}" class="action_icon nodecoration_icon file-udiff" title="{% trans "View Unified Diff" %}"></a>
	{% if not sfile.locked %}
	<a href="{% url edit_submit_file sfile.pofile.slug %}" class="action_icon nodecoration_icon file-edit" title="{% trans "Edit" %}"></a>
    <a href="#" class="action_icon nodecoration_icon file-reload" title="{% trans "Upload New Version" %}" alt="{% url submit_new_file sfile.pofile.slug %}" alt2="{{ sfile.pofile.filename }}"></a>
	{% endif %}
	<a class="filename" href="{% url file_detail sfile.pofile.slug %}">{{ sfile.pofile.filename }}</a>
	</td>
	<td>{{ sfile.pofile.component.name }}</td>
	<td>{{ sfile.pofile.release.name }}</td>
	<td>{{ sfile.created|localtime:request.user.get_profile.timezone|date:"M d, Y H:i" }}</td>
   	<td>{% if sfile.owner.get_full_name %}
           {{ sfile.owner.get_full_name }} ({{ sfile.owner.username }})
           {% else %}
           {{ sfile.owner.username }}
           {% endif %}</td>
	<td>{{ sfile.log_message }}</td>
</tr>
{% endfor %}
</tbody>