{% load i18n errors %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fileupload.js"></script>
<script type="text/javascript">
function reset_upload_form() {
    $("#id_file_holder").val('');
    $("#id_comment").val('');
    $("#id_fakefile").val('');
}
$(function() {
    $("#id_fakefile").on('click', function() {
        $("#id_file_holder").click();
    });
    $("#id_file_holder").on('change', function() {
        $("#id_fakefile").val(get_filename($(this).val()));
    });
    $("#id_fakefile").val(get_filename($("#id_file_holder").val()));
    $("#upload_form").on('submit', function(ev) {
        ev.preventDefault();
		if ($("#id_file_holder").val() == "" || $("#id_comment").val() == "") {
			show_ok_dialog("{% trans "Both field are required" %}");
		} else {
            $('#id_file').fileupload('add', {
                fileInput: $('#id_file_holder')
			})
		}
    })
    $('#id_file').fileupload({dataType: 'json', paramName: 'file'}).bind('fileuploadadd', function(e, data) {
        popoverlay('{% trans "Please wait, this could take some time..." %}');
        $('#id_fakefile').hide();
        $('#progressupload').show();
        $('#progressupload').progressbar({'max': data.files[0].size, 'value': 0});
    }).bind('fileuploadprogressall', function(e, data) {
        $('#progressupload').progressbar("option", "value", data.loaded);
    }).bind('fileuploadalways', function(e, data) {
        $('#progressupload').progressbar("destroy");
        $('#progressupload').hide();
        $('#id_fakefile').show();
        removeoverlay();
    }).bind('fileuploaddone', function(e, data) {
        $("#message-container").load('{% url 'user_messages' %}');    
        if (data.result.success) {
            reset_upload_form();
            load_component(RELOAD_LIST_FILES_URL, true);
        }
    });
})
</script>
<div id="upload-box">
    <input type="file" id="id_file_holder" style="display: none;"/>
	<form id="upload_form" class="form-style" action="{% url 'file_upload' release.slug language.code %}"
		method="post" enctype="multipart/form-data" accept-charset="utf-8">
		{% csrf_token %}
		<span class="help_text title">{% trans "File Upload" %}</span><br/>
		<span class="help_text">{% trans "(.po or .tar, .tgz without directories)" %}</span><span class="icon help" title="{% trans "You can upload multiple files compressed into a tar. The tar file should not include directories." %}">&nbsp;</span>
		<div class="upload-control">
			<table>
				<tr>
					<td>
					   <div id="progressupload"></div>
					   <input type="file" id="id_file" name="file" style="display: none;"/>
					   <input type="text" id="id_fakefile" name="fakefile" readonly="readonly" class="file_attach" title="{% trans "Click to select a file" %}"/>
					</td>
					<td><input type="submit" class="icon upload-go" value="{% trans "Upload" %}"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<span class="help_text">{% trans "Comments" %}:&nbsp;<em>*</em></span>
						<input id="id_comment" name="comment" maxlength="255" type="text" style="width: 155px;" {% if form.comment.errors %}class="ui-state-error" title="{{form.comment|errormsg}}"{% endif %}>
					</td>
				</tr>
			</table>
			{% if form.file.errors %}
			<div class="tooltipbox error-tip" style="margin-right: 15px;">
			<div class="tip-wrap">
			<div class="tip-body">{{form.file|errormsg}}</div>
			</div>
			</div>
			{% endif %}
		</div>
	</form> 
</div>