{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }} | {% trans "Add OpenID" %}{% endblock %}
{% block favs %}
{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}openid/css/style.css" media="screen" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{{STATIC_URL}}openid/js/jquery.openid.min.js"></script>
<script type="text/javascript"><!--//
 $(function() {
   $('#openid_form').openid({
     txt: {
       label: '{% trans "Enter your {provider} {username}" %}',
       username: '{% trans "username" %}',
       title: '{% trans "Select your OpenID provider" %}',
       sign: '{% trans "Sign in" %}'
     }
   });
 });
 //--></script>
{% endblock %}
{% block content %}
{% if msg %}
	<div class="errors"><p>{{ msg }}</p></div>
{% endif %}
{% if form.errors %}
    <div class="errors"><p>Openid url : {{ form.openid_url.errors|join:', ' }}</p></div>
{% endif %}
<div class="center-box form-box" style="width: 280px;">
<fieldset>
	<legend>{% trans "Add OpenID" %}</legend>
	<div class="form-block">
	<form id="openid_form" action="{% url 'user_associate' %}" method="post">
	{% csrf_token %}
	    <input type="hidden" name="action" value="verify" />
    	<input type="hidden" name="next" value="{{ next }}" />
	</form>
	</div>
</fieldset>
</div>
{% endblock %}