{% load i18n %}
<link href="{{STATIC_URL}}openid/css/style.css" media="screen" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{{STATIC_URL}}openid/js/jquery.openid.min.js"></script>
<script type="text/javascript"><!--//
 $(function() {
   $('#openid_form').openid({
     txt: {
       label: '{% trans "Enter your {provider} {username}" %}',
       username: '{% trans "username" %}',
       title: '{% trans "Select your OpenID provider" %}',
       sign: '{% trans "Sign in" %}'
     }
   });
 });
 //--></script>
<fieldset>
	<legend>{% trans "Sign in with your OpenID" %}</legend>
	<div class="form-block">
	<form id="openid_form" action="{% url openid_signin %}" method="post">
	{% csrf_token %}
	    <input type="hidden" name="action" value="verify" />
    	<input type="hidden" name="next" value="{{ next }}" />
	</form>
	</div>
</fieldset>