{% extends "base.html" %}
{% load i18n formtags %}
{% load errors %}
{% block title %}{{ block.super }} | {% trans "Password setup" %}{% endblock %}
{% block favs %}
{% endblock %}
{% block extra_head %}
<style type="text/css">
form.form-style label {
	width:210px !important;
}
</style>
{% endblock %}
{% block content %}
<div class="center-box" style="width:400px;" >

{% if set_password %}
<form class="form-style" action="{% url 'openid_password_change' %}" method="post" accept-charset="utf-8">
<input type="hidden" name="next" value="{{ next }}" />
<fieldset>
	<legend>{% trans "Set your new password" %}</legend>
	<ol>
		<li>{% formfield form.new_password1 %}</li>
		<li>{% formfield form.new_password2 %}</li>
	</ol>    
</fieldset>
<div id="form-action" class="text-right">
	<input class="icon signup" type="submit" value="{% trans "Apply" %}" />
</div>
</form>
{% else %}
<form class="form-style" action="{% url 'openid_password_change' %}" method="post" accept-charset="utf-8">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}" />
<fieldset>
	<legend>{% trans "Password change" %}</legend>
	<ol>
		<li>{% formfield form.old_password %}</li>
		<li>{% formfield form.new_password1 %}</li>
		<li>{% formfield form.new_password2 %}</li>
	</ol>    
</fieldset>
<div id="form-action" class="text-right">
	<input class="icon signup" type="submit" value="{% trans "Apply" %}" />
</div>
</form>
{% endif %}
</div>
{% endblock %}
