.icon {
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 1px;
  padding-left: 24px !important;
  line-height: 16px;
}
.action_icon2 {
  padding-right: 5px;
  padding-left: 16px !important;
  background-repeat: no-repeat;
}
.email {
	background-image: url('../images/icons/email.png');
}
.email_unread {
	background-image: url('../images/icons/email_star.png');
}
.add {
	background-image: url('../images/icons/add.png');
}
.tag_green {
	background-image: url('../images/icons/tag_green.png');
}
.repository {
	background-image: url('../images/icons/drive_web.png');
}
.release {
	background-image: url('../images/icons/date.png');
}
.component {
	background-image: url('../images/icons/folder_table.png');
}
.project {
	background-image: url(../images/icons/box.png);
}
.language {
	background-image: url(../images/icons/world.png);
}
.team {
	background-image: url(../images/icons/group.png);
}
.path {
	background-image: url(../images/icons/folder.png);
}
.branch {
	background-image: url(../images/icons/arrow_branch.png);
}
.info {
	background-image: url(../images/icons/information.png);
}
.lock {
	background-image: url(../images/icons/lock.png);
}
.upload {
	background-image: url(../images/icons/attach.png);
}
.upload-go {
	background-image: url(../images/icons/arrow_up.png);
}
.warn {
	background-image: url(../images/icons/error.png);
}
.back {
	background-image: url(../images/icons/bullet_back.png);
}
.edit {
	background-image: url(../images/icons/pencil.png);
}
.delete {
	background-image: url(../images/icons/delete.png);
}
.save {
	background-image: url(../images/icons/disk.png);
}
.build {
	background-image: url(../images/icons/database_gear.png);
}
.re-build {
	background-image: url(../images/icons/database_refresh.png);
}
.signin {
	background-image: url(../images/icons/key_go.png);
}
.signup {
	background-image: url(../images/icons/accept.png);
}
.submit {
	background-image: url(../images/icons/accept.png);
}
.remove {
	background-image: url(../images/icons/delete.png);
}
.join {
	background-image: url(../images/icons/thumb_up.png);
}
.cancel {
	background-image: url(../images/icons/cancel.png);
}
.on-submit {
	background-image: url(../images/icons/tick.png);
}
.coordinator {
	background-image: url(../images/icons/user_gray.png);
}
.member {
	background-image: url(../images/icons/user.png);
}
.committer {
    background-image: url(../images/icons/user_green.png);
}
.group_add {
	background-image: url(../images/icons/group_add.png);
}
.group_remove {
	background-image: url(../images/icons/group_delete.png);
}
.search {
	background-image: url(../images/icons/zoom.png);
}
.build-log {
	background-image: url(../images/icons/application_osx_terminal.png);
}
.commit-p-add {
	background-image: url(../images/icons/medal_bronze_add.png);
}
.commit-p-del {
	background-image: url(../images/icons/medal_silver_delete.png);
}
.last-update {
	background-image: url(../images/icons/calendar.png);
}
.go-top {
	background-image: url(../images/icons/arrow_up.png);
}
.gloss-p-add {
	background-image: url(../images/icons/book_add.png);
}
.gloss-p-del {
	background-image: url(../images/icons/book_delete.png);
}
.feed {
	background-image: url(../images/icons/feed.png);
}
.feed_user {
	background-image: url(../images/icons/feed_user.png);
}
.startup-add {
	background-image: url(../images/icons/bullet_go.png);
}
.startup-del {
	background-image: url(../images/icons/bullet_star.png);
}
.mod-assign {
	background-image: url(../images/icons/wrench.png);
}
.populate {
	background-image: url(../images/icons/arrow_in.png);
}
.help {
	background-image: url(../images/icons/help.png);
}
.svnlog {
	background-image: url(../images/icons/world_link.png);
}
.view-url {
	background-image: url(../images/icons/eye.png);
}
.merge {
	background-image: url(../images/icons/arrow_join.png);
}
.glossaryexport {
    background-image: url(../images/icons/book_link.png);
}
.open-project {
	background-image: url(../images/icons/application_go.png);
}
.team-page {
	background-image: url(../images/icons/group_go.png);
}
.compose {
	background-image: url(../images/icons/email_open.png);
}
.user-delete {
	background-image: url(../images/icons/exclamation.png);
}
.go-back {
	background-image: url(../images/icons/arrow_left.png);
}
.button-clear {
	background-image: url(../images/icons/arrow_clear.png);
}