{% load i18n adsensetag %}
<div id="pubblock" style="width: 468px; height: 60px; margin-left: auto; margin-right: auto; margin-top: 25px; bottom: 5px;">
<div id="pubblockhint" class="description" style="display: none; background-color: #F2F2F2; border: 1px solid #BBBBBB; padding: 5px; width: 468px; border-radius: 5px 5px 5px 5px;">{% trans "Looks like you are blocking ads. In order to keep Vertaal running,  we felt the need to show you some ads, it would be nice if you could disable your adblocking for this site. It will be shown only once per page. Also, if you click on them, it would be great :). Thank you." %}</div>
<!-- START ADSENSE CODE -->
<!-- SYNC VERSION
<script type="text/javascript">
google_ad_client = "ca-pub-6692965674688630";
/* Vertaal */
google_ad_slot = "4897783492";
google_ad_width = 468;
google_ad_height = 60;
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
-->
<!-- ASYNC VERSION -->
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Vertaal -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:60px"
     data-ad-client="ca-pub-6692965674688630"
     data-ad-slot="4897783492"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- END ADSENSE CODE -->
<script type="text/javascript">
$(document).ready(function() {
    var ckey = '{{request.path|adsensecookie}}';
    window.setTimeout(function() {
	    if ($("#pubblock").find("iframe").length == 0) {
	        $("#pubblockhint").show();
	    } /*else {
	        var dt = new Date();
	        dt.setHours(23,59,59,999);
	        $.cookie(ckey, 'true', { expires: dt });    
	    }   */         
    },2500);
});
</script>
</div>
