/* MENU */
#menubar {
	margin-top: 5px;
}
ul#menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
	position: relative;
	display: block;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	background: transparent url(../images/nav_bg.png) repeat-x top left;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}
ul#menu li {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}
ul#menu li a {
	display: block;
	float: left;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 20px 0 20px;
}
ul#menu li a:hover {
	color: #FFFFFF;
	height: 22px;
	background: transparent url(../images/nav_bg.png) 0px -30px no-repeat;
}
ul#menu li a.current {
	display: inline;
	height: 22px;
	background: transparent url(../images/nav_bg.png) 0px -30px no-repeat;
	float: left;
	margin: 0;
}
/* DROP */
#menu li.drop a {
	float: none;
	height: 23px;
}
#menu li.drop a:hover,
#menu li.drop:hover a {
	background: #2580a2 url("../images/hover.gif") bottom center no-repeat;
	color: #FFFFFF;
	text-decoration: none;
}
#menu li.drop ul {
	background: #333333;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	min-width: 225px;
	z-index: 200;
}
#menu li.drop ul li {
	width: auto;
	white-space: nowrap;
}
#menu li.drop:hover ul {
	display: block;
}
#menu li.drop li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	min-width: 225px;
}
#menu li.drop:hover li a {
	background: none;
}
#menu li.drop ul a {
	display: block;
	height: 35px;
	font-style: normal;
	padding: 0px 10px 0px 15px;
	text-align: left;
	line-height:35px;
	color: #999999 !important;
}
#menu li.drop ul li:hover a {
	background: #2580a2 url('../images/hover_sub.gif') center left no-repeat;
	color: #ffffff !important;
}
/* END MENU */